@import 'styles/mixins.scss';

.auth0-lock-header-logo {
  height: 46px !important;
}

@media (min-width: 481px) {
  .auth0-lock-opened {
    min-height: 450px !important;
    top: 0 !important;
    bottom: unset !important;
  }
  .auth0-lock-widget {
    position: relative;
    background-color: white !important;
    padding: 4px !important;
    box-shadow: 0 0 40px 4px rgba(0,0,0,.5) !important;
    max-height: none !important;
  }
  .auth0-lock-header-bg {
    background: linear-gradient(to bottom, #181a34 0%, #313234 100%) !important;
  }
  .auth0-lock-header-bg-blur {
    opacity: .1 !important;
  }
  .auth0-lock-close-button {
    padding: 4px !important;
    top: 4px !important;
    right: 4px !important;
    width: 20px !important;
    height: 20px !important;
    background-color: white !important;
    border: none !important;
    border-radius: 0 0 0 4px !important;
    &:hover {
      box-shadow: inset 0 0 100px 20px rgba(0,0,0,0.2);
    }
    &::after {
      color: $orange;
      font-family: FontAwesome;
      font-size: 18px;
      content: '\f00d';
      position: relative;
      top: 9px;
      left: 4px;
    }
    svg {
      display: none !important;
    }
  }
  .auth0-lock.auth0-lock .auth0-lock-tabs li {
    a {
      font-size: 0;
      color: transparent !important;
      text-transform: uppercase;
      &::before {
        color: $darkBlue;
        font-size: 13px;
      }
    }
    &:first-child a::before {
      content: "Login";
    }
    &:last-child a::before {
      content: "Sign up";
    }
  }
  .auth0-lock-submit {
    height: 60px !important;
    background-color: $orange !important;
    text-align: center !important;
    svg {
      display: none !important;
    }
    &::after {
      content: "SUBMIT";
      font-weight: 600;
    }
  }
  .auth0-lock-badge-bottom {
    display: none !important;
  }
}